@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #888;
  overflow-x: hidden;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.shoppingCartIcon:hover .show-cart {
  padding: 50px;
  display: none;
}

@layer components {
  .big-heading {
    font-size: 30px;
    font-weight: 700;
    color: #081828;
    position: relative;
    padding: 10px 0;
  }
  .big-heading:after {
    content: "";
    height: 2px;
    width: 60px;
    position: absolute;
    bottom: 0;
    background-color: #0167f3;
    left: 50%;
    transform: translateX(-50%);
  }
  .semi-heading {
    @apply text-[#081828] text-[16px] font-semibold   tracking-wider cursor-pointer hover:text-[#0167f3] transition-all duration-500 ease-in-out;
  }
  .each-sidebar-item {
    @apply cursor-pointer flex items-center space-x-1 hover:text-[#0167f3] transition-all duration-300 ease-in-out hover:scale-105 leading-8;
  }
  .input-parent {
    @apply flex items-center px-2 py-2 my-2 space-x-3 capitalize bg-white border rounded-sm shadow-3xl;
  }
  input {
    @apply w-full h-10 capitalize focus:outline-none;
  }
  .filtering {
    @apply bg-white border rounded-sm p-7 mb-7 shadow-3xl;
  }
  .nav-list-item {
    @apply list-none p-0 m-0 mr-5 text-[#081828] cursor-pointer h-full py-5;
  }
  .hamburger-span {
    @apply w-[30px] h-[2px] my-[5px] bg-black block;
  }
}
